page-home {
 .view--home{
    background: url('../../assets/imgs/home.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }
}
